*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
/build/
/config.*
/aclocal.m4
/autom4te.cache/
/makefile.inc
/bin/
/c_api/bin/
/c_api/gpu/bin/
/tests/test
/tests/gtest/
faiss/python/swigfaiss_avx2.swig
faiss/python/swigfaiss_avx512.swig
faiss/python/swigfaiss_avx512_spr.swig
faiss/python/swigfaiss_sve.swig
html
latex
faiss/html
faiss/latex
tutorial/python/data
tutorial/cpp/data
tutorial/cpp/sift
tutorial/python/gist
tutorial/python/sift
tutorial/python/index_hnsw
benchs/data
tutorial/python/large_ivf_hnsw_on_disk.index
benchs/bench_all_ivf/data
tutorial/cpp/disk_workspace
tutorial/cpp/memory_workspace
tutorial/cpp/benchmark-hnsw-ivf/indices